* {
  outline: none !important;
}

form {
  width: 100%;
  margin: 0 auto;
}

.autocomplete {
  outline: 1px solid red;
  max-width: 300px;
  padding: 0.5rem;
}

.autocomplete input { 
  outline: 1px solid green;
  margin: 0;
  width: 300px;
  padding: 0.5rem;
}

.autocomplete ul {
  outline: 1px solid blue;
  list-style: none;
  width: 300px;
  max-height: 150px;
  overflow-y: auto;
  margin: 0;
  padding: 0.5rem;
}

.autocomplete li.selected,
.autocomplete li:hover {
  background-color: lightblue;
}